<!DOCTYPE html>  
<html lang="ru">  
<head>  
    <meta charset="UTF-8">  
    <title>Курсы валют</title>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>  
</head>  
<body>  
<h2>Выберите валюту для просмотра курса</h2> 
<p>ID клиента: <span id="client_id"></span></p> 
<select id="currencySelect">  
    <option value="USD">USD - Доллар США</option>  
    <option value="EUR">EUR - Евро</option>  
    <option value="GBP">GBP - Фунт стерлингов</option>  
    <option value="JPY">JPY - Японская иена</option>  
    <option value="CHF">CHF - Швейцарский франк</option>  
    <!-- Добавьте здесь любые другие валюты, которые вы хотите предложить пользователю -->  
</select>  
<button onclick="selectCurrency()">Показать курс</button>  

<h2>Текущий и предыдущий курсы:</h2>  
<div id="currencyRate">Выберите валюту, чтобы увидеть курс</div>  

<script>  
    const socket = io();  

    socket.on('client_id', function(data) {
        document.getElementById('client_id').textContent = data.id;
    });
    // Обработка выбора валюты  
    function selectCurrency() {  
        const currencyCode = document.getElementById('currencySelect').value;  
        socket.emit('select_currency', { currency_code: currencyCode });  
    }  

    // Получение обновлений по выбранной валюте  
    socket.on('update', (data) => {  
        console.log('Получено обновление:', data);
        const { currency_code, current_rate, previous_rate } = data;  
        let displayText = `Курс ${currency_code}: ${current_rate}`;  
        if (previous_rate !== null) {  
            displayText += ` (предыдущий: ${previous_rate})`;  
        }  
        document.getElementById('currencyRate').innerText = displayText;  
    });  

    // Подтверждение выбора валюты  
    socket.on('currency_selected', (data) => {  
        console.log(data.message);  
        document.getElementById('currencyRate').innerText = `Ожидание обновления курса для ${data.message.split(':')[1].trim()}`; 
    });  
</script>  
</body>  
</html>